.settings-menu {
    display: none; /* Спочатку приховано */
    position: absolute;
    top: 120px; /* Позиціонуємо меню під хом'яком */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100; /* Вищий пріоритет для меню */
    border-radius: 5px; /* Кути меню */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавний перехід */
}

/* Клас для показу меню */
.settings-menu.active {
    display: block; /* Відображаємо меню */
    opacity: 1; /* Прозорість */
    visibility: visible; /* Видимість */
}
